[defaults]
host_key_checking = False
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = False
transfer_method = piped
ssh_args = -o ControlMaster=no -o ControlPersist=no -o StrictHostKeyChecking=no
