[defaults]
host_key_checking = False
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = False
transfer_method = scp
scp_extra_args = -O
ssh_args = -o ControlMaster=no -o ControlPersist=no
